  <h1>
    Welcome to {{ title }}!
  </h1>

  <div id="page">
    <div id="user-bar" role="navigation">
      <div class="headercontainer" role="navigation">
        <div class="nav navbar-nav-top pull-right">
          <span id="user-name">Welcome, User</span>
        </div>
      </div>
    </div>
    <div id="brand-bar">
      <div id="abc"
           alt="Click to return to the Home Page"
           title="Click to return to the Home Page"
           routerLink=""></div>
      <div id="title">
        Battle Tech
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-nav-open" *ngIf="showNavigation">
        <i class="fa fa-pull-right fa-bold fa-angle-left clickable" (click)="toggleNavigation()"></i>
        <h1>MENU</h1>
        <ul>
          <!--<li routerLink="/bt-tbd1" [routerLinkActive]="['selected']">bt-tbd1</li>-->
          <li>bt-tbd1</li>
          <!--<li routerLink="/bt-tbd2" [routerLinkActive]="['selected']">-->
          <li>
            bt-tbd2
            <!--<div style="display: none" routerLink="/bt-tbd2a"></div>-->
            <div style="display: none"></div>
          </li>
          <li routerLink="/bt-tbd3" [routerLinkActive]="['selected']">
            someThingA
            <!--This is here for the routerLinkActive styling on the moody-build-complex route-->
            <!--<div style="display: none" routerLink="/bt-tbd3-a"></div>
            <div style="display: none" routerLink="/bt-tbd3-b"></div>
            <div style="display: none" routerLink="/bt-tbd3-c"></div>-->
          </li>
          <!--<li routerLink="/bt-tbd4" [routerLinkActive]="['selected']">-->
          <li>
            someThingB
            <!--<div style="display: none" routerLink="/bt-tbd4-a"></div>
            <div style="display: none" routerLink="/bt-tbd4-b"></div>
            <div style="display: none" routerLink="/bt-tbd4-c"></div>-->
          </li>
          <!--<li routerLink="/admin" [routerLinkActive]="['selected']">ADMIN</li>-->
        </ul>
      </div>
      <div class="flex-nav-closed" *ngIf="!showNavigation">
        <h1>MENU <i class="fa fa-pull-right fa-bold fa-angle-down clickable" (click)="toggleNavigation()"></i></h1>
      </div>
      <div class="flex-main">
        <div></div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
